{% extends 'base.html' %}
{% block title %} Letter to Your Future Self {% endblock %}

{% block body %}

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="fw-light">Write a Letter to The Future</h1>
        <p class="lead">A great starter layout for a landing page</p>
        <img id="home"src="/static/homepage-pic.jpg" class="img-responsive" alt="Responsive image">
      </div>
    </div>
  </div>
</header>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>What advice would you give your future self?</h4>
      <h4>Have you ever thought that maybe a year from now your life could look entirely different?</h4>
        <p class="fw-normal">We would like to provide you a chance to do something really powerful: <i>visualize a better future!</i>
        This is a place where you can write a letter to yourself or someone else and receive it in the future.
        And receiving something special from the past will definitely make this experience memorable!</p>
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>  
</div>   
  


{% endblock %}