{% extends 'base.html' %}
{% block title %} Public Letters {% endblock %}

{% block body %}

{% for public in published %}
<div class="container mt-5 mb-5">
  <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-6">
          <div class="card">
              <div class="d-flex justify-content-between p-2 px-3">
                  <div class="d-flex flex-row align-items-center"> 
                      <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"> Title: {{ public.letter_title }}</span></div>
                  </div>
                  
              </div> <img src="/static/letter-envelope.jpg" class="img-fluid">
              <div class="p-2">
                  <p class="text-justify">{{ public.letter_body }}</p>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">
                      <i class="bi bi-heart-fill"></i><span id="diplay">  {{ public.likes }}</span>
                    </p>
                  </div>
                  <form action="/add_like" method="POST" id="like-form-{{ public.letter_id }}">
                    <input type="text" name="like-letter" value="{{ public.letter_id }}" hidden >
                    <button id="public-btn"type="submit" class="likes" value="Like">Like</button>
                  </form>
                  <hr>
                  
                  </div>
              </div>
          </div>
  {% endfor %}
      </div>
  </div>
</div>







{% endblock %}