{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{% block body %}
<div class="register">
  <div class="sign-up">
    <h2>Sign Up</h2>
    <form action="/registration" method="POST" enctype="multipart/form-data" class="signup-form">
      <div class="form-group">
        <div class="col-3">
          <label for="exampleInputName1">First Name</label>
          <input type="text" class="form-control" name="fname"id="first-name"  placeholder="Enter first name">
        </div>
      <div class="form-group">
        <div class="col-3">
          <label for="exampleInputName">Last Name</label>
          <input type="text" class="form-control" name="lname"id="last-name"  placeholder="Enter last name">
        </div>  
      <div class="form-group">
      <div class="col-3">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="email"id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
  <div class="form-group">
    <div class="col-3">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password"id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <div class="col-3">
    <label for="exampleInputFile">Profile Picture</label>
    <input type="file" class="form-control" name="my-file"id="exampleInputPicture">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>















{% endblock %}