{% extends 'base.html'%}
{% block title %}Welcome! {% endblock %}

{% block body %}

<div id="profile-card" class="card" style="width: 18rem;">
    
    <ul class="list-group list-group-flush">
      <img id="user-pic" src="{{ user.photo }}" />
      <li class="list-group-item">Name: {{ user.fname }} {{ user.lname }}</li>
      <li class="list-group-item">Email: {{ user.email }}</li>
      <li class="list-group-item">My ID: {{ user.user_id }}</li>
    </ul>
  </div>


  <div id="quote-card" class="card" style="width: 18rem;">
    <img src="/static/yellow-bee.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Daily Quote</h5>
      <p id="quote"class="card-text"></p>
      <button type="button" id="affirmation-button"class="btn btn-primary">Get a Quote</a>
    </div>
  </div>



  














{% endblock %}.0.0