{% extends 'base.html'%}
{% block title %}User Page {% endblock %}

{% block body %}



  <div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="d-flex justify-content-between p-2 px-3">
                    <div class="d-flex flex-row align-items-center"> 
                        <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"> Personal Information </span></div>
                    </div>
                    
                </div> <img src="{{ user.photo }}" class="img-fluid">
                    <div class="d-flex justify-content-between align-items-center">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{ user.fname }} {{ user.lname }}</li>
                        <li class="list-group-item">Email: {{ user.email }}</li>
                        <li class="list-group-item">My ID: {{ user.user_id }}</li><br>
                        <p id="quote"></p>
                        <button type="button" id="affirmation-button"class="btn btn-primary">Get Daily Quote</button>
                      </ul>
                    <hr>
                    
                    </div>
                </div>
            </div>

  
  














{% endblock %}.0.0